<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Weather Ionic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-input placeholder="City name" [(ngModel)]="cityName"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="getData()">Show Details</button>

  <br/>

  <ion-card no-margin>
    <ion-item-divider color="light">
      City Map
    </ion-item-divider>
    <img *ngIf="weatherInfo.coord" src="https://maps.googleapis.com/maps/api/staticmap?center={{weatherInfo.coord.lat}},{{weatherInfo.coord.lon}}&zoom=12&size=400x300&key=AIzaSyBS-jQv8hllwrMJ4JTRJxVSYDhiafu9mvk"/>

    <ion-item-divider color="light">
      Location Details
    </ion-item-divider>
    <ion-item> City: {{ weatherInfo.name }}</ion-item>
    <ion-item *ngIf="weatherInfo.sys"> City: {{ weatherInfo.sys.country }}</ion-item>
    <ion-item *ngIf="weatherInfo.coord"> Coordinates: {{ weatherInfo.coord.lon }}, {{ weatherInfo.coord.lat}}</ion-item>


    <ion-item-divider color="light">
      Weather Details
    </ion-item-divider>
    <ion-item *ngIf="weatherInfo.main"> Temperature: {{ weatherInfo.main.temp }} K</ion-item>
    <ion-item *ngIf="weatherInfo.main"> Pressure: {{ weatherInfo.main.pressure }} mmHg</ion-item>
    <ion-item *ngIf="weatherInfo.main"> Humidity: {{ weatherInfo.main.humidity }} %</ion-item>


    <ion-item-divider color="light">
      Wind Details
    </ion-item-divider>
    <ion-item *ngIf="weatherInfo.wind"> Speed: {{ weatherInfo.wind.speed }} m/s</ion-item>
    <ion-item *ngIf="weatherInfo.wind"> Angle: {{ weatherInfo.wind.deg }} deg</ion-item>
  </ion-card>

  <!-- <ion-list>
    <ion-list *ngFor="let user of users">
      {{ user.name }}
    </ion-list>
  </ion-list> -->
</ion-content>